@font-face {
    font-family: 'Arimo Regular';
    src: url("../source/fonts/Arimo-Regular.woff") format("woff"), url("../source/fonts/Arimo-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Baufra Bold';
    src: url("../source/fonts/Baufra-Bold.otf") format('opentype'), url("../source/fonts/Baufra-Bold.woff") format("woff"), url("../source/fonts/Baufra-Bold.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSans Bold';
    src: url("../source/fonts/ClearSans-Bold.woff") format("woff"), url("../source/fonts/ClearSans-Bold.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Greta Dis Nar Pro Medium';
    src: url("../source/fonts/Greta-Dis-Nar-Pro-Med.otf") format('opentype'), url("../source/fonts/Greta-Dis-Nar-Pro-Med.woff") format("woff"), url("../source/fonts/Greta-Dis-Nar-Pro-Med.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}


/******************************
********** general ************
******************************/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4;
    color: #000000;
    font-family: 'Arimo Regular', sans-serif;
}

html, body {
    background-color: #ffffff;
    width: 100%;
}

a, button, input[type="submit"], input[type="cancel"], input[type="reset"] {
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active, a:focus {
    outline: none;
}

button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input, input:hover, input:active, input:focus {
    outline: none;
}
textarea, textarea:hover, textarea:active, textarea:focus {
    outline: none;
    border: none;
}

ul li, ol li {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}

h1 {
    font-size: 1.875em;
    color: #999999;
}

h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
.image-wrap {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.image-wrap img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    display: block;
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}
.wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.form-field:focus::-webkit-input-placeholder {color: transparent;}
.form-field:focus::-moz-placeholder {color: transparent;}
.form-field:focus:-moz-placeholder {color: transparent;}
.form-field:focus:-ms-input-placeholder {color: transparent;}
input[type='search']:focus::-webkit-input-placeholder {color: transparent;}
input[type='search']:focus::-moz-placeholder {color: transparent;}
input[type='search']:focus:-moz-placeholder {color: transparent;}
input[type='search']:focus:-ms-input-placeholder {color: transparent;}

.validatr-message {
    display: none;
}
.invalid-field {
    border: 1px solid #ff0000!important;
}

.custom-select ul {
    display: none;
}

.hidden {
    display: none;
}

main {
    display: block;
    min-height: 60vh;
}

/******************************
********** header ************
******************************/

.header-top {
    background-color: #ffff01;
    text-align: center;
    height: 20px;
}
.header-top p {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.7421875em;
    line-height: 20px;
}
.header-top a {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 0.6415625em;
    line-height: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
.header-top a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 17px;
    background: transparent url('../source/images/icon-person.png') no-repeat center;
    background-size: cover;
    margin-right: 5px;
}

.header-nav {
    background-color: #4d4d4d;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
nav ul li a {
    display: block;
    height: 2.8125em;
    line-height: 2.8125em;
    font-size: 0.8125em;
    color: #ffffff;
    position: relative;
}
nav ul li a:after {
    content: '';
    display: block;
    height: 5px;
    background-color: #ffff01;
    position: absolute;
    left: 100%;
    right: 100%;
    bottom: 0;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
nav ul li a:hover {
    text-decoration: none;
}
nav ul li a:hover:after {
    left: 0;
    right: 0;
}

.header-info {
    background-color: #000000;
    padding: 25px 0 30px;
}
.header-info .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-info .to-calculator, .header-info .to-technologist {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
}
.header-info .to-calculator span, .header-info .to-technologist span {
    display: inline-block;
    color: #ffffff;
    line-height: 1.2;
    border-bottom: 1px dashed #ffffff;
}
.header-info .to-calculator:hover span, .header-info .to-technologist:hover span {
    border-bottom: 1px dashed transparent;
}

.header-info .to-calculator i, .header-info .to-technologist i {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 2.5em;
    line-height: 1;
    float: left;
    margin-right: 10px;
}
.header-info .logo {
    width: 277px;
    padding-top: 95px;
    background: transparent url('../source/images/logo.png') no-repeat left top;
    background-size: 100% auto;
    text-align: center;
    position: relative;
}
.header-info .logo span {
    display: inline-block;
    color: #ffffff;
    font-size: 0.592125em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    background-color: #000000;
    position: relative;
    z-index: 1;
}
.header-info .logo:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5em;
}

.city-select i {
    display: inline-block;
    line-height: 1;
    color: #ffffff;
}
.city-select .current-value {
    display: inline-block;
    color: #ffffff;
    padding: 0 5px;
}
.phones-select {
    margin-top: 20px;
}
.phones-select i {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    line-height: 1;
}
.phones-select .fa-mobile {
    display: inline-block;
    font-size: 2.5em;
}
.phones-select a {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 1.5625em;
    padding: 0 5px;
}
.phones-select ul {
    display: none;
}
.phones-select .callback {
    display: block;
    width: 100px;
    font-size: 0.6415625em;
    color: #ffffff;
    cursor: pointer;
    margin-left: 30px;
    border-bottom: 1px dashed #ffffff;
}
.phones-select .callback:hover {
    border-bottom: 1px dashed transparent;
}

.header-bottom {
    background: linear-gradient(to bottom, #e6e6e6, #b0b0b0);
    text-align: right;
}
.header-bottom .wrapper {
    font-size: 0;
}
.header-bottom .catalog-link {
    display: inline-block;
    text-align: center;
    border: 1px solid red;
    font-size: 21px;
}
.header-bottom form {
    display: inline-block;
    text-align: left;
    border: 1px solid red;
}
.header-bottom .cart {
    display: inline-block;
    text-align: center;
    border: 1px solid red;
    font-size: 1em;
}


/******************************
********** footer ************
******************************/

/******************************
********** main page **********
******************************/







/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/