@font-face {
    font-family: 'Arimo Regular';
    src: url("../source/fonts/Arimo-Regular.woff") format("woff"), url("../source/fonts/Arimo-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Baufra Bold';
    src: url("../source/fonts/Baufra-Bold.otf") format('opentype'), url("../source/fonts/Baufra-Bold.woff") format("woff"), url("../source/fonts/Baufra-Bold.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSans Bold';
    src: url("../source/fonts/ClearSans-Bold.woff") format("woff"), url("../source/fonts/ClearSans-Bold.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Greta Dis Nar Pro Medium';
    src: url("../source/fonts/Greta-Dis-Nar-Pro-Med.otf") format('opentype'), url("../source/fonts/Greta-Dis-Nar-Pro-Med.woff") format("woff"), url("../source/fonts/Greta-Dis-Nar-Pro-Med.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}


/******************************
********** general ************
******************************/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4;
    color: #000000;
    font-family: 'Arimo Regular', sans-serif;
}

html, body {
    background-color: #ffffff;
    width: 100%;
}

a, button, input[type="submit"], input[type="cancel"], input[type="reset"] {
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active, a:focus {
    outline: none;
}

button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input, input:hover, input:active, input:focus {
    outline: none;
}
textarea, textarea:hover, textarea:active, textarea:focus {
    outline: none;
    border: none;
}

ul li, ol li {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}

h1 {
    font-size: 1.875em;
    color: #999999;
}

h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
.image-wrap {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.image-wrap img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    display: block;
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}
.wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.form-field:focus::-webkit-input-placeholder {color: transparent;}
.form-field:focus::-moz-placeholder {color: transparent;}
.form-field:focus:-moz-placeholder {color: transparent;}
.form-field:focus:-ms-input-placeholder {color: transparent;}

.validatr-message {
    display: none;
}
.invalid-field {
    border: 1px solid #ff0000!important;
}

.in-wide {
    -moz-text-align-last: justify;
    -ms-text-align-last: justify;
    text-align-last: justify;
    text-align: justify;
}
.in-wide:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.hidden {
    display: none;
}

main {
    display: block;
    min-height: 60vh;
}

/******************************
********** header ************
******************************/



/******************************
********** footer ************
******************************/

/******************************
********** main page **********
******************************/







/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/