@font-face {
    font-family: 'Arimo Regular';
    src: url("../source/fonts/Arimo-Regular.woff") format("woff"), url("../source/fonts/Arimo-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Baufra Bold';
    src: url("../source/fonts/Baufra-Bold.otf") format('opentype'), url("../source/fonts/Baufra-Bold.woff") format("woff"), url("../source/fonts/Baufra-Bold.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSans Bold';
    src: url("../source/fonts/ClearSans-Bold.woff") format("woff"), url("../source/fonts/ClearSans-Bold.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Greta Dis Nar Pro Medium';
    src: url("../source/fonts/Greta-Dis-Nar-Pro-Med.otf") format('opentype'), url("../source/fonts/Greta-Dis-Nar-Pro-Med.woff") format("woff"), url("../source/fonts/Greta-Dis-Nar-Pro-Med.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}


/******************************
********** general ************
******************************/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4;
    color: #000000;
    font-family: 'Arimo Regular', sans-serif;
}

html, body {
    background-color: #ffffff;
    width: 100%;
}

a, button, input[type="submit"], input[type="cancel"], input[type="reset"] {
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active, a:focus {
    outline: none;
}

button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input, input:hover, input:active, input:focus {
    outline: none;
}
textarea, textarea:hover, textarea:active, textarea:focus {
    outline: none;
    border: none;
}

ul li, ol li {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}

h1 {
    font-size: 1.875em;
    color: #999999;
}

h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
.image-wrap {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.image-wrap img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    display: block;
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}
.wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.form-field:focus::-webkit-input-placeholder {color: transparent;}
.form-field:focus::-moz-placeholder {color: transparent;}
.form-field:focus:-moz-placeholder {color: transparent;}
.form-field:focus:-ms-input-placeholder {color: transparent;}
.form-search input[type='text']:focus::-webkit-input-placeholder {color: transparent;}
.form-search input[type='text']:focus::-moz-placeholder {color: transparent;}
.form-search input[type='text']:focus:-moz-placeholder {color: transparent;}
.form-search input[type='text']:focus:-ms-input-placeholder {color: transparent;}

.validatr-message {
    display: none;
}
.invalid-field {
    border: 1px solid #ff0000!important;
}

.custom-select {
    position: relative;
}
.custom-select ul {
    display: none;
}

.hidden {
    display: none;
}

main {
    display: block;
    min-height: 60vh;
}

/******************************
********** header ************
******************************/

.header-top {
    background-color: #ffff01;
    text-align: center;
    height: 20px;
}
.header-top p {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.7421875em;
    line-height: 20px;
}
.header-top a {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 0.6415625em;
    line-height: 20px;
    position: absolute;
    top: 0;
    right: 10px;
}
.header-top a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 17px;
    background: transparent url('../source/images/icon-person.png') no-repeat center;
    background-size: cover;
    margin-right: 5px;
}

.header-nav {
    background-color: #4d4d4d;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
nav ul li a {
    display: block;
    height: 2.8125em;
    line-height: 2.8125em;
    font-size: 0.8125em;
    color: #ffffff;
    position: relative;
}
nav ul li a:after {
    content: '';
    display: block;
    height: 5px;
    background-color: #ffff01;
    position: absolute;
    left: 100%;
    right: 100%;
    bottom: 0;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
nav ul li a:hover {
    text-decoration: none;
}
nav ul li a:hover:after {
    left: 0;
    right: 0;
}

.header-info {
    background-color: #000000;
    padding: 25px 0 30px;
}
.header-info .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-info .to-calculator, .header-info .to-technologist {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
}
.header-info .to-calculator span, .header-info .to-technologist span {
    display: inline-block;
    color: #ffffff;
    line-height: 1.2;
    border-bottom: 1px dashed #ffffff;
}
.header-info .to-calculator:hover span, .header-info .to-technologist:hover span {
    border-bottom: 1px dashed transparent;
}

.header-info .to-calculator i, .header-info .to-technologist i {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 2.5em;
    line-height: 1;
    float: left;
    margin-right: 10px;
}
.logo {
    width: 277px;
    padding-top: 95px;
    background: transparent url('../source/images/logo.png') no-repeat left top;
    background-size: 100% auto;
    text-align: center;
    position: relative;
}
.logo span {
    display: inline-block;
    color: #ffffff;
    font-size: 0.592125em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    background-color: #000000;
    position: relative;
    z-index: 1;
}
.logo:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5em;
}

.city-select {
    width: 120px;
}
.city-select i {
    display: inline-block;
    line-height: 1;
    color: #ffffff;
    cursor: pointer;
}
.city-select .current-value {
    display: inline-block;
    color: #ffffff;
    cursor: pointer;
    padding: 0 5px;
}
.city-select ul {
    padding: 5px 0;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    background-color: #000000;
}
.city-select ul li {
    color: #ffffff;
    cursor: pointer;
    margin: 5px 0;
    padding: 0 10px 0 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.city-select ul li:hover {
    color: #ffff01;
}

.phones-select {
    margin-top: 20px;
    position: relative;
}
.phones-select i {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    line-height: 1;
}
.phones-select .fa-mobile {
    display: inline-block;
    font-size: 2.5em;
}
.phones-select a {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 1.5625em;
    padding: 0 5px;
}
.phones-select ul {
    display: none;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    padding: 5px 0;
}
.phones-select ul li {
    display: block;
    margin: 5px 0;
    padding: 0 10px 0 20px;
}
.phones-select .callback {
    display: block;
    width: 100px;
    font-size: 0.6415625em;
    color: #ffffff;
    cursor: pointer;
    margin-left: 30px;
    border-bottom: 1px dashed #ffffff;
}
.phones-select .callback:hover {
    border-bottom: 1px dashed transparent;
}

.header-bottom {
    background: linear-gradient(to bottom, #e6e6e6, #b0b0b0);
    text-align: right;
}
.header-bottom .wrapper {
    font-size: 0;
}
.header-bottom .catalog-link {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    height: 100%;
    line-height: 55px;
    text-align: center;
    font-size: 21px;
    border-left: 1px solid #fcfcfc;
    position: relative;
}
.header-bottom .catalog-link:hover {
    background-color: #4d4d4d;
    color: #ffffff;
    text-decoration: none;
}
.header-bottom .catalog-link:before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #a2a2a2;
    position: absolute;
    top: 0;
    left: -2px;
}
.header-bottom form {
    display: inline-block;
    vertical-align: top;
    height: 55px;
    width: 90px;
    text-align: left;
    position: relative;
    border-left: 1px solid #fcfcfc;
}
.header-bottom form:before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #a2a2a2;
    position: absolute;
    top: 0;
    left: -2px;
}
.header-bottom .field-search {
    display: block;
    height: 90%;
    width: 0;
    position: absolute;
    right: 91px;
    bottom: 3%;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.header-bottom .field-search.active, .header-bottom .field-search:focus  {
    width: 1016px;
    padding: 0 20px;
}
.header-bottom form button {
    width: 100%;
    font-size: 32px;
    line-height: 55px;
    background-color: transparent;
}
.header-bottom form button i {
    display: inline-block;
    width: 100%;
    color: #808080;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.header-bottom form:hover {
    background-color: #4d4d4d;
}
.header-bottom form:hover i {
    color: #ffffff;
}
.header-bottom .cart {
    display: inline-block;
    vertical-align: top;
    height: 55px;
    width: 90px;
    text-align: center;
    border-left: 1px solid #fcfcfc;
    border-right: 1px solid #a2a2a2;
    position: relative;
    font-size: 32px;
    line-height: 55px;
}
.header-bottom .cart i {
    display: inline-block;
    width: 100%;
    color: #808080;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.header-bottom .cart span {
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0.6875em;
    line-height: 25px;
    color: #ffffff;
    background-color: #c83404;
    position: absolute;
    top: 5%;
    right: 10%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.header-bottom .cart:before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #a2a2a2;
    position: absolute;
    top: 0;
    left: -2px;
}
.header-bottom .cart:after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #fcfcfc;
    position: absolute;
    top: 0;
    right: -2px;
}
.header-bottom .cart:hover {
    background-color: #4d4d4d;
}
.header-bottom .cart:hover i {
    color: #ffffff;
}


/******************************
********** footer ************
******************************/

.footer-top {
    background-color: #eaeaea;
    text-align: center;
}
.main-page-title {
    color: #333333;
    font-size: 1.25em;
    font-weight: 100;
    letter-spacing: 3px;
    padding: 1em 0;
}
.footer-top .to-top {
    display: block;
    width: 56px;
    height: 56px;
    background-color: #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1), -1px -1px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1), -1px -1px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1), -1px -1px 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: absolute;
    top: -28px;
    right: 0;
}
.footer-top .to-top i {
    display: block;
    width: 100%;
    line-height: 54px;
    font-size: 48px;
    color: #cccccc;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.footer-top .to-top:hover i {
    line-height: 40px;
}

.footer-info {
    background-color: #000000;
}
.footer-info .wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
}
.footer-company .logo {
    display: block;
    width: 205px;
    padding-top: 71px;
}
.footer-company .logo span {
    font-size: 0.375em;
}
.footer-company .social-links li {
    display: block;
    margin: 10px 5px 10px 0;
    float: left;
}
.footer-company .social-links:after {
    content: '';
    display: block;
    clear: both;
}
.footer-company .social-links li:last-child {
    margin-right: 0;
}
.footer-company .social-links li a {
    display: block;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #ffffff;
    text-align: center;
}
.footer-company .social-links li a i {
    color: #ffffff;
    line-height: 35px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.footer-company .social-links li a:hover {
    background-color: #ffffff;
}
.footer-company .social-links li a:hover i {
    color: #000000;
}
.footer-company .work-hours {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 0.875em;
    margin-top: 20px;
}
.footer-company .work-hours:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 18px;
    background: transparent url('../source/images/icon-ok-square.png') no-repeat center;
    background-size: cover;
    margin-right: 10px;
}

.footer-links .title {
    font-size: 1.5625em;
    color: #ffffff;
}
.footer-links .title:after {
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background-color: #917200;
    margin: 5px 0 10px;
}
.footer-links ul {
    display: block;
    max-width: 180px;
}
.footer-links ul li {
    display: block;
}
.footer-links ul li a {
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.875em;
    text-decoration: underline;
}
.footer-links ul li a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255,1);
}
.footer-contacts-links a {
    display: block;
    width: 150px;
    margin-bottom: 15px;
}
.footer-contacts-links a:after {
    content: '';
    display: block;
    clear: both;
}
.footer-contacts-links a i {
    display: inline-block;
    width: 37px;
    font-size: 2.3em;
    color: rgba(255, 255, 255, 0.7);
    float: left;
    margin-right: 10px;
    margin-top: 7px;
    text-align: right;
}
.footer-contacts-links a span {
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    line-height: 1;
    font-size: 0.95em;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.7);
}
.footer-contacts-links a:hover i {
    color: rgba(255, 255, 255, 1);
}
.footer-contacts-links a:hover span {
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px dashed transparent;
}
.footer-contacts .phones-select {
    margin-top: 0;
}
.footer-contacts .phones-select .fa-mobile {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2.8em;
    display: inline-block;
    width: 37px;
    text-align: right;
}
.footer-contacts .phones-select ul {
    padding: 0;
    left: 20px;
}
.footer-contacts .phones-select ul li {
    margin: 0;
}
.footer-contacts .email-link {
    display: inline-block;
    margin: 10px 0 15px;
    color: #45b3cc;
    font-size: 0.875em;
    vertical-align: middle;
}
.footer-contacts .email-link i {
    display: inline-block;
    vertical-align: middle;
    width: 37px;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
    margin-right: 10px;
}
.footer-contacts .address {
    padding-left: 47px;
    position: relative;
}
.footer-contacts .address i {
    display: inline-block;
    width: 37px;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
    position: absolute;
    left: 0;
    top: 0;
}
.footer-contacts .address p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875em;
}
.footer-contacts .address a {
    color: #45b3cc;
    text-decoration: underline;
    font-size: 0.875em;
}
.footer-contacts .address a:hover {
    text-decoration: none;
}
.contacts-links {
    text-align: center;
}
.contacts-links li {
    margin: 20px 5px 0;
}
.contacts-links li a {
    display: block;
    width: 34px;
    height: 34px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.contacts-links li a i {
    color: #ffffff;
    line-height: 34px;
    font-size: 22px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.contacts-links li:nth-child(1) a {
    background-color: #00cdff;
}
.contacts-links li:nth-child(1):hover i {
    color: #00cdff;
}
.contacts-links li:nth-child(2) a {
    background-color: #6c448d;
}
.contacts-links li:nth-child(2):hover i {
    color: #6c448d;
}
.contacts-links li:nth-child(3) a {
    background-color: #fcc60a;
}
.contacts-links li:nth-child(3):hover i {
    color: #fcc60a;
}
.contacts-links li a:hover {
    background-color: #ffffff;
}

.footer-bottom {
    background-color: #333333;
}
.footer-bottom .copyrights, .footer-bottom a {
    display: inline-block;
    vertical-align: middle;
    padding: 1em 0;
    font-size: 0.875em;
    color: #ffffff;
}
.footer-bottom a {
    float: right;
    color: rgba(255, 255, 255, 0.5)
}
.footer-bottom a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    background: transparent url('../source/images/webstroy.png') no-repeat center;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    margin-right: 5px;
    margin-bottom: 3px;
}
.footer-bottom a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.footer-bottom a:hover:before {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}


/******************************
********** main page **********
******************************/







/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
********** general ************
******************************/

/******************************
******** media queries ********
******************************/

@media (max-width: 1200px) {
    * {
        font-size: 14px;
    }
    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header-bottom .catalog-link {
        width: 250px;
        font-size: 18px;
    }
}